
.root {
    -fx-background-color: #ffffff;
}

.table-view {
    -fx-background-color: white;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #f3f3f3;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-family: "Open Sans Semibold";
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: black;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-cell-size: 70px;
    -fx-font-family: "Open Sans";
    -fx-font-size: 15;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #FCD757;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

/*.table-view > .virtual-flow > .scroll-bar:vertical,*/
/*.table-view > .virtual-flow > .scroll-bar:vertical > .track,*/
/*.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,*/
/*.table-view > .virtual-flow > .scroll-bar:horizontal,*/
/*.table-view > .virtual-flow > .scroll-bar:horizontal > .track,*/
/*.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {*/
/*    -fx-background-color: transparent;*/
/*}*/


/*.table-view > .virtual-flow > .scroll-bar > .increment-button,*/
/*.table-view > .virtual-flow > .scroll-bar > .decrement-button {*/
/*    -fx-opacity: 0;*/
/*}**/